<div class="user-card row m-0 justify-content-center" [ngClass]="{'rtl': _isRtl}">
    <div #cardImg class="card-img" [ngStyle]="{'background-image': img != null ? 'url(' + img + ')' : ''}"></div>
    <div class="card-info">
        <h4 title="{{first_name}}">{{first_name}} {{last_name}}</h4>
        <span>
            {{id}}
        </span>
    </div>
</div>
