@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

.user-card {
  width: 280px;
  height: 300px;
  @include border-radius(12px);
  transition: 500ms ease-in-out;
  background-color: #e5e5e5;

  .card-img {
    width: 280px;
    height: 250px;
    @include background-img(
      url("https://cdn.vox-cdn.com/thumbor/2JkSZEc_c-Kkuawgzd7MOSb6O1A=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22169281/yonkers.jpg")
    );
    margin-bottom: 0.5rem;
    @include border-radius(6px);
  }

  .card-info {
    position: relative;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    h4 {
      @include width-fit-content;
      @include font-format(15px, $primary-dark-color, "Lato-Bold");
      @include max-lines(1);
      margin: 0;
      transition: 500ms ease-in-out;
      line-height: 18px;
    }
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0px 15px 35px rgba(227, 252, 239, 0.1),
      0px 5px 15px rgba(0, 0, 0, 0.07);
    transform: scale(1.025);
    @include border-radius(12px);
    .card-img {
      --card-img-hovered-overlay: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.65)
      );
      height: 100%;
      @include border-radius(12px);
    }
    .card-info {
      transform: translate(0, -50px);
      h4 {
        @include font-format(20px, $primary-bg-color, "Lato-Bold");
        font-weight: bold;
      }
      span {
        @include font-format(20px, $primary-bg-color, "Lato-Bold");
        font-weight: bold;
      }
    }
  }
}
