@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

nav {
  background: hsl(233, 67%, 2%);
  z-index: 5;
  .cont {
    max-width: $max-screen-width;
    color: white;
    align-items: center;
    .logo {
      width: 100px;
    }
    ul {
      list-style-type: none;
      display: inline-block;
      margin: 0;
      margin-inline-start: 1rem;

      li {
        position: relative;
        display: inline-block;
        margin-inline: 0.35rem;
        margin-left: 0.35rem;
        margin-right: 0.35rem;
        a {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .cont {
    margin-inline: auto;
  }
}
