<nav>
    <div class="cont row justify-content-between py-3 mx-3-xl">
        <div class="align-items-center d-flex flex-row justify-content-between px-0 w-100">

            <a href="/card">
                <img src="./assets/images/nav-logo.png" alt="app logo" class="logo">
            </a>

            <ul class="menu">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                    matTooltip="{{'navbar.menu' | translate}}">
                    <a>
                        <img src="./assets/icons/menu.svg" alt="menu">
                    </a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                    matTooltip="{{'navbar.offers' | translate}}">
                    <a>
                        <img src="./assets/icons/offers.svg" alt="offers">
                    </a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                    matTooltip="{{'navbar.settings' | translate}}">
                    <a>
                        <img src="./assets/icons/settings.svg" alt="settings">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
