@import "variables";
@import "mixins";

.search {
  margin-inline: 4rem;
  margin-top: 1rem;
  @include font-format(20px, $primary-dark-color, "Lato-Bold");
}

.cont {
  gap: 1rem;
  margin-top: 16px;
  position: relative;
  overflow-y: scroll;
  height: 500px;
  @include custom-scrollbar("&");
  .card-cont {
    gap: 0rem;
    padding-inline-start: 16px;
    padding-inline-end: 11px;
  }
}

@media (max-width: $breakpoint-md) {
  .card-cont {
    max-width: unset;
  }
}
