<div>
    <div class="search d-flex flex-column">
        <input class="form-control search-bar" type="text" name="search" #searchTerm [(ngModel)]="searchchar"
            placeholder="{{'general.search' | translate}}" (keyup)="ClearSearch(searchTerm.value)"
            (keyup.enter)="getCharactersSearch(searchTerm.value)" />
        <span *ngIf="isResult">{{'general.search-resault' | translate}}</span>
    </div>
    <div class="row justify-content-between cont mx-3-xl" (scroll)="onScroll($event)">
        <app-loader *ngIf="_showLoader"></app-loader>

        <div class="card-cont card-cont col">
            <div class="cards row" style="gap: 2rem; place-content: center;"
                [ngClass]="{'align-items-center justify-content-center':  _card.value.totalItems == 0}"
                [ngStyle]="{'height':  _card.value.totalItems == 0 ? 'calc(100% - 100px)' : ''}">

                <app-card *ngFor="let item of _card.value.cards" [id]="item.id" [first_name]="item.first_name"
                    [last_name]="item.last_name" [img]="item.avatar" (click)="showDetails(item.id)">
                </app-card>

            </div>
        </div>
    </div>
</div>
