@import "src/assets/styles/variables";
@import "src/assets/styles/mixins";

h4 {
  @include width-fit-content;
  @include font-format(20px, $primary-dark-color, "Lato-Bold");
  @include max-lines(1);
  margin: 0;
  transition: 500ms ease-in-out;
  line-height: 18px;
}
.card-img {
  width: 280px;
  height: 280px;
  @include background-img(
    url("https://cdn.vox-cdn.com/thumbor/2JkSZEc_c-Kkuawgzd7MOSb6O1A=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22169281/yonkers.jpg")
  );
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  @include border-radius(6px);
}
