<div class=" m-0 justify-content-center " [ngClass]="{'rtl': _isRtl}">
    <h4 title="{{first_name}}">{{first_name}} {{last_name}}</h4>
    <div #cardImg class="card-img" [ngStyle]="{'background-image': img != null ? 'url(' + img + ')' : ''}"></div>
</div>
