/* You can add global styles to this file, and also import other style files */
@import "/src/assets/styles/variables";
@import "/src/assets/styles/mixins";

//----- start fonts
// lato

//----- end fonts

html,
body {
  height: 100%;
  background: #fafafa;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
body {
  margin: 0;
  font-family: "Lato-Regular", Roboto, "Helvetica Neue", sans-serif !important;
}

//----- start styles for dashboard table
.app-table {
  border-collapse: separate;
  border-spacing: 0px 10px;
}

.app-table tr th {
  @include font-format(14px, $primary-dark-color, "Lato-Bold");
  background-color: transparent;
  text-transform: capitalize;
  border: none;
}

.app-table tr td {
  @include font-format(14px, $primary-dark-color);
  background-color: #f9f9f9;
  border: none;
}

.app-table tr td:first-child {
  border-radius: 10px 0 0 10px;
}

.app-table tr td:last-child {
  border-radius: 0 10px 10px 0;
}

html[dir="rtl"] {
  * {
    direction: rtl;
  }

  .app-table {
    text-align: right;
    tr {
      & td:first-child {
        border-radius: 0 10px 10px 0;
      }

      & td:last-child {
        border-radius: 10px 0 0 10px;
      }
    }
  }
}

//----- end styles for dashboard table

.row {
  margin: 0;
}

.mat-dialog-container {
  border-radius: 10px !important;
  // padding-top: 3rem !important;
}

.wh {
  color: white !important;
}

.h-center {
  left: 0;
  transform: translateX(-50%);
}

.v-center {
  top: 0;
  transform: translateY(-50%);
}

.card-cont {
  background-color: white;
  border-radius: 10px;
  position: relative;
  // padding-left: 1rem;
  // padding-right: 1rem;
  // padding-bottom: 1rem;
}

.mat-icon-button {
  &:focus {
    outline: none !important;
  }
}

ngx-skeleton-loader .loader {
  margin: 0 !important;
}

mat-slide-toggle {
  .mat-slide-toggle-bar {
    width: 20px;
    height: 16px;
    border-radius: 6px;
  }

  &.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #fff;
  }

  &.mat-checked {
    .mat-slide-toggle-thumb-container {
      transform: translate3d(5px, 0, 0) !important;
    }

    .mat-slide-toggle-bar {
      background: #43c147 !important;
    }

    .mat-slide-toggle-thumb {
      color: white !important;
    }
  }

  .mat-slide-toggle-thumb-container {
    width: 8px;
    height: 8px;
    top: 4.5px !important;
    left: 3.5px !important;
    right: auto !important;
  }

  .mat-slide-toggle-thumb {
    color: white !important;
    width: 8px;
    height: 8px;
    border-radius: 35%;
  }
}

.snackbar-default {
  .mat-simple-snackbar-action {
    color: $primary-bg-color !important;
  }
}

.manage-menu-dish-form {
  background-color: #fff !important;
}

@media (max-width: $breakpoint-xl) {
  .mx-3-xl {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    margin-inline: 1rem !important;
  }
}

// @keyframes grow {
//   0% {
//       width: 0px !important;
//   }

//   100% {
//       width: 180px !important;
//   }
// }

@keyframes shrink {
  100% {
    width: 0;
  }
}

@media print {
  // @page {
  //   // size: auto;
  //   margin: 0mm; // added mm
  // }
  body {
    *:not(.__bCard1) {
      visibility: hidden;
    }
    // width: 6cm;
    // height: 4cm;
    .__bCard1 {
      position: fixed;
      top: 50%;
      inset-inline-start: 50%;
      transform: translate(-50%, -50%);
      visibility: visible;
      * {
        visibility: visible;
      }
    }
  }
}
