@import "./functions";
@import "./variables";

@mixin font-format($size, $color, $families...) {
  // $ar-font: get-font-weight('-', 'Lato-Regular');

  font-family: $families, "Lato-Regular", "Times New Roman", "sans-serif";
  font-size: $size;
  color: $color;
}

@mixin border-radius($br: $default-border-radius) {
  border-radius: $br;
}

@mixin primary-btn($min-width: 250px, $min-height: 50px) {
  @include font-format(16px, $primary-text-color, "Lato-Bold");
  @include border-radius;
  min-width: $min-width;
  min-height: $min-height;
  max-height: $min-height;
  text-transform: capitalize;
}

@mixin background-img(
  $img,
  $repeat: no-repeat,
  $pos-x: center,
  $pos-y: center,
  $size: cover
) {
  background-image: $img;
  background-position-x: $pos-x;
  background-position-y: $pos-y;
  background-size: $size;
  background-repeat: $repeat;
}

@mixin max-lines($lines-num) {
  display: -webkit-box;
  -webkit-line-clamp: $lines-num;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin custom-scrollbar($selectors...) {
  @each $selector in $selectors {
    #{$selector}::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    #{$selector}::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    /* Handle */
    #{$selector}::-webkit-scrollbar-thumb {
      background: #dddddd;
      border-radius: 10px;
    }

    /* Handle on hover */
    #{$selector}::-webkit-scrollbar-thumb:hover {
      background: #888;
    }
  }
}

@mixin width-fit-content {
  width: -moz-fit-content;
  width: fit-content;
}

@mixin square($w) {
  width: $w;
  height: $w;
}

@mixin center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
