$primary-bg-color: #e7a968;
$primary-text-color: #fff;
$primary-dark-color: #02030a;
$primary-gray-color: #efefef;
$warn-color: #be4b49;

$default-border-radius: 10px;
$max-screen-width: 1280px;

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1280px;
