<div class="card-details">
    <img src="../../../../assets/icons/back-arrow.svg" [routerLink]="'/card'" alt="">
    <app-card-details *ngFor="let item of _card.value.cards" [id]="item.id" [first_name]="item.first_name"
        [last_name]="item.last_name" [img]="item.avatar"></app-card-details>
    <app-loader *ngIf="_showLoader"></app-loader>
</div>
