@import "variables";
@import "mixins";

.card-details {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 2rem;
  img {
    background-color: $primary-bg-color;
    @include border-radius(50%);
    margin-inline-end: 1rem;
    cursor: pointer;
  }
}
